@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Kalam');



.inspirationModalBTN {
  align-content: center;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.modalSubhead {
  font-family: 'Kalam', cursive;
}

.modalHead {
  font-family: 'Questrial', sans-serif;
  color: #6F7EA7
}