@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  background-color: #969DB5;
}

.parallax {
  /* The image used */
  background-image: url("https://cdn.pixabay.com/photo/2015/11/19/20/02/background-1051850_960_720.jpg");
  /* Set a specific height */
  height: 300px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginBTN {
  float: left;
  height: 65px;
  width: 450px;
  font-weight: bold;
  background: #D5C67A;
  border: none;
  box-shadow: 0 7px 0 0 black;
  text-align: center;
  line-height: 65px;
  display: flex;
  justify-content: center;
  margin-left: 450px;
  margin-top: 130px;
  margin-right: 0px;
}

.guestBTN {
  position: relative;
  float: right;
  height: 65px;
  width: 500px;
  font-weight: bold;
  background: #D5C67A;
  border: none;
  box-shadow: 0 7px 0 0 black;
  text-align: center;
  line-height: 65px;
  display: flex;
  justify-content: center;
  margin-top: 130px;
  margin-right: 100px;
}

.title {
  margin-top: 35px;
  text-align: center;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 80px;
}